.summer-sale-for {
  position: relative;
  line-height: 21px;
  display: inline-block;
  width: 474px;
  height: 18px;
  flex-shrink: 0;
}
.shopnow {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}
.summer-sale-for-all-swim-suits-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.english {
  position: relative;
  line-height: 21px;
}
.dropdown-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.english-parent,
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.frame-parent {
  position: absolute;
  top: 12px;
  right: 136px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-212xl);
}
.exclusive,
.top-header {
  position: absolute;
  top: 0;
  left: 0;
}
.top-header {
  background-color: var(--button);
  width: 1440px;
  height: 48px;
  overflow: hidden;
  color: var(--text);
}
.exclusive {
  letter-spacing: 0.03em;
  line-height: 24px;
}
.logo {
  position: relative;
  width: 118px;
  height: 24px;
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header1 {
  position: relative;
  width: 48px;
  height: 24px;
  cursor: pointer;
}
.header2,
.header3,
.header4 {
  position: relative;
  width: 66px;
  height: 24px;
}
.header3,
.header4 {
  width: 48px;
}
.header4 {
  width: 61px;
}
.header-parent,
.logo-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-parent {
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-12px-medium);
}
.logo-parent {
  gap: var(--gap-141xl);
}
.what-are-you {
  position: relative;
  line-height: 18px;
  opacity: 0.5;
}
.what-are-you-looking-for-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl);
}
.search-component-set {
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl);
}
.wishlist-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.cart1-with-buy,
.wishlist-icon {
  position: relative;
  width: 32px;
  height: 32px;
}
.header,
.search-component-set-parent,
.wishlist-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.header,
.search-component-set-parent {
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--title-12px-medium-size);
  font-family: var(--title-12px-medium);
}
.header {
  position: absolute;
  top: 88px;
  left: 135px;
  gap: var(--gap-111xl);
  font-size: var(--heading-24px-bold-size);
  font-family: var(--heading-24px-bold);
}
.product-details-page-child {
  position: absolute;
  top: 142px;
  left: 0;
  width: 1440px;
  height: 0.5px;
}
.account,
.roadmap-child {
  position: relative;
  opacity: 0.5;
}
.account {
  line-height: 21px;
}
.roadmap-child {
  width: 6.89px;
  height: 12.2px;
}
.nothing1,
.roadmap-item {
  position: relative;
  display: none;
  opacity: 0.5;
}
.roadmap-item {
  width: 13.19px;
  height: 0;
}
.nothing1 {
  line-height: 21px;
}
.roadmap {
  position: absolute;
  top: 222px;
  left: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.image-63-icon {
  position: absolute;
  top: 154px;
  left: 27px;
  width: 446px;
  height: 315px;
  object-fit: cover;
}
.image-63-wrapper {
  position: absolute;
  top: 323px;
  left: 335px;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 500px;
  height: 600px;
  overflow: hidden;
}
.image-57-icon {
  position: absolute;
  top: 12px;
  left: 24px;
  width: 121px;
  height: 114px;
  object-fit: cover;
}
.image-57-wrapper {
  position: absolute;
  top: 323px;
  left: 135px;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 170px;
  height: 138px;
  overflow: hidden;
}
.image-58-icon {
  position: absolute;
  top: 20px;
  left: 29px;
  width: 112px;
  height: 97px;
  object-fit: cover;
}
.image-58-wrapper {
  position: absolute;
  top: 477px;
  left: 135px;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 170px;
  height: 138px;
  overflow: hidden;
}
.image-61-icon {
  position: absolute;
  top: 22px;
  left: 18px;
  width: 134px;
  height: 94px;
  object-fit: cover;
}
.image-61-wrapper {
  position: absolute;
  top: 631px;
  left: 135px;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 170px;
  height: 138px;
  overflow: hidden;
}
.image-59-icon {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 122px;
  height: 106px;
  object-fit: cover;
}
.image-59-wrapper {
  position: absolute;
  top: 785px;
  left: 135px;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 170px;
  height: 138px;
  overflow: hidden;
}
.div,
.havic-hv-g-92 {
  position: absolute;
  left: 905px;
  font-size: var(--heading-24px-bold-size);
  letter-spacing: 0.03em;
  line-height: 24px;
  font-family: var(--heading-24px-bold);
}
.havic-hv-g-92 {
  top: 323px;
  font-weight: 600;
}
.div {
  top: 400px;
}
.vector-icon,
.vector-icon4 {
  position: relative;
  border-radius: var(--br-11xs-4);
  width: 20px;
  height: 20px;
}
.vector-icon4 {
  opacity: 0.25;
}
.four-star,
.four-star-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.four-star-parent {
  gap: var(--gap-5xs);
}
.frame-child {
  position: relative;
  border-right: 1px solid var(--button);
  box-sizing: border-box;
  width: 1px;
  height: 17px;
  opacity: 0.5;
}
.in-stock {
  position: relative;
  line-height: 21px;
  opacity: 0.6;
}
.frame-group,
.line-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.line-parent {
  align-items: center;
  color: var(--button1);
}
.frame-group {
  position: absolute;
  top: 363px;
  left: 905px;
  align-items: flex-start;
}
.playstation-5-controller {
  position: absolute;
  top: 448px;
  left: 905px;
  line-height: 21px;
  display: inline-block;
  width: 373px;
}
.colours {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 20px;
}
.colour-chnage-child,
.colour-chnage-item {
  position: relative;
  width: 20px;
  height: 20px;
}
.colour-chnage-item {
  border-radius: 50%;
  background-color: var(--hover-button);
}
.colours-parent {
  position: absolute;
  top: 559px;
  left: 906px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--title-20px-medium-size);
  font-family: var(--heading-24px-bold);
}
.xs {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 10px);
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  width: 18px;
  height: 20px;
}
.xs-wrapper {
  position: relative;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.m,
.s {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 5px);
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  width: 8px;
  height: 20px;
}
.m {
  top: calc(50% - 10px);
  left: calc(50% - 6px);
  width: 12px;
}
.m-wrapper {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary-2);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--text);
}
.l,
.xl {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 4px);
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  width: 6px;
  height: 20px;
}
.xl {
  left: calc(50% - 9px);
  width: 16px;
}
.frame-container,
.size-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--title-14px-semibold-size);
  font-family: var(--title-12px-medium);
}
.size-parent {
  position: absolute;
  top: 603px;
  left: 906px;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--title-20px-medium-size);
  font-family: var(--heading-24px-bold);
}
.underline-icon {
  position: absolute;
  top: 534px;
  left: 905px;
  width: 400px;
  height: 1px;
  opacity: 0.5;
}
.frame-item {
  position: relative;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  width: 40px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
}
.div1 {
  position: absolute;
  top: 8px;
  left: 34px;
  line-height: 28px;
  font-weight: 500;
}
.frame-inner,
.wrapper {
  position: relative;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -1px;
}
.wrapper {
  border-top: 1px solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 80px;
}
.frame-inner {
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  width: 41px;
}
.frame-div {
  position: absolute;
  top: 659px;
  left: 906px;
  width: 159px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--title-20px-medium-size);
}
.add-to-cart {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.button,
.product-details-page-item {
  position: absolute;
  border-radius: var(--br-9xs);
}
.button {
  top: 659px;
  left: 1081px;
  background-color: var(--secondary-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px var(--padding-29xl);
  font-size: var(--title-16px-regular-size);
  color: var(--text);
}
.product-details-page-item {
  top: 660px;
  left: 1264px;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.underline-icon1 {
  position: absolute;
  top: 89px;
  left: 0;
  width: 399px;
  height: 1px;
  opacity: 0.5;
}
.icon-delivery {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.enter-your-postal {
  position: relative;
  font-size: var(--title-12px-medium-size);
  text-decoration: underline;
  line-height: 18px;
  font-weight: 500;
}
.free-delivery-parent,
.icon-delivery-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon-delivery-parent {
  position: absolute;
  top: 24px;
  left: 16px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.details {
  text-decoration: underline;
}
.free-30-days-container {
  position: relative;
  font-size: var(--title-12px-medium-size);
  line-height: 18px;
  font-weight: 500;
}
.icon-return-parent {
  position: absolute;
  top: 106px;
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.category-rectangle-child,
.underline-parent {
  position: absolute;
  border-radius: var(--br-9xs);
}
.underline-parent {
  top: 743px;
  left: 906px;
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 399px;
  height: 180px;
  overflow: hidden;
  font-size: var(--title-16px-regular-size);
}
.category-rectangle-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-2);
}
.category-rectangle {
  position: relative;
  width: 20px;
  height: 40px;
}
.related-item {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.category-rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.div2 {
  position: relative;
  line-height: 18px;
}
.discount-percent {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: var(--br-9xs);
  background-color: var(--secondary-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xs);
}
.fill-heart-icon {
  position: relative;
  width: 34px;
  height: 34px;
}
.fill-heart-parent {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.g92-2-500x500-1-icon {
  position: absolute;
  top: calc(50% - 76px);
  left: calc(50% - 86px);
  width: 172px;
  height: 152px;
  object-fit: cover;
}
.g92-2-500x500-1-wrapper {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 95px);
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.discount-percent-parent {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 270px;
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.div4 {
  position: relative;
  text-decoration: line-through;
  line-height: 24px;
  font-weight: 500;
  color: var(--button);
  opacity: 0.5;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--secondary-2);
}
.div5 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  width: 32px;
  height: 20px;
  flex-shrink: 0;
  opacity: 0.5;
}
.five-star-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--title-14px-semibold-size);
}
.cart-with-flat-discount,
.havit-hv-g92-gamepad-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.havit-hv-g92-gamepad-parent {
  gap: var(--gap-5xs);
  font-size: var(--title-16px-regular-size);
  color: var(--button);
}
.cart-with-flat-discount {
  gap: var(--gap-base);
}
.rectangle-div {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--button);
  height: 41px;
}
.add-to-cart1 {
  position: absolute;
  top: calc(50% + 92px);
  left: calc(50% - 48px);
  font-size: var(--title-16px-regular-size);
  line-height: 24px;
  font-weight: 500;
  color: var(--primary);
}
.ak-900-01-500x500-1-icon {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 95px);
  width: 191px;
  height: 101px;
  object-fit: cover;
}
.ak-900-01-500x500-1-wrapper {
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 95px);
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.g27cq4-500x500-1-icon {
  position: absolute;
  top: 26px;
  left: 10px;
  width: 170px;
  height: 129px;
  object-fit: cover;
}
.gammaxx-l240-argb-1-500x500-1-icon {
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 95px);
  width: 191px;
  height: 95px;
  object-fit: cover;
}
.gammaxx-l240-argb-1-500x500-1-wrapper {
  position: absolute;
  top: 35px;
  left: 40px;
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.star-half-filled-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.cart,
.cart-with-flat-discount-parent,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--title-16px-regular-size);
  color: var(--button);
}
.cart-with-flat-discount-parent,
.frame-parent1 {
  flex-direction: row;
  gap: var(--gap-11xl);
  font-size: var(--title-12px-medium-size);
  color: var(--text);
}
.frame-parent1 {
  position: absolute;
  top: 1063px;
  left: 135px;
  flex-direction: column;
  gap: var(--gap-41xl);
  font-size: var(--title-16px-regular-size);
  color: var(--secondary-2);
}
.underline-icon2 {
  position: relative;
  width: 1440px;
  height: 1px;
  opacity: 0.5;
}
.frame-wrapper,
.icon-copyright-parent,
.underline-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-copyright-parent {
  gap: var(--gap-7xs);
}
.frame-wrapper,
.underline-group {
  opacity: 0.6;
}
.underline-group {
  position: absolute;
  top: 376px;
  left: 0;
  flex-direction: column;
  gap: var(--gap-base);
  opacity: 0.4;
}
.subscribe {
  position: relative;
  font-size: var(--title-20px-medium-size);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--title-12px-medium);
}
.logo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.enter-your-email,
.get-10-off {
  position: relative;
  line-height: 24px;
}
.get-10-off {
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-12px-medium);
}
.enter-your-email {
  opacity: 0.4;
}
.frame-parent3,
.send-mail {
  display: flex;
  justify-content: flex-start;
}
.send-mail {
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--text);
  box-sizing: border-box;
  width: 217px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  gap: var(--gap-13xl);
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-12px-medium);
}
.frame-parent3 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--heading-24px-bold-size);
  font-family: var(--heading-24px-bold);
}
.support {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.bijoy-sarani-dhaka {
  display: inline-block;
  width: 175px;
}
.bijoy-sarani-dhaka,
.exclusivegmailcom {
  position: relative;
  line-height: 24px;
}
.bijoy-sarani-dhaka-dh-1515-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--title-16px-regular-size);
}
.save-3-with {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  opacity: 0.7;
}
.qrcode-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.googleplay-icon,
.qr-code {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.qr-code {
  background-color: var(--button);
  width: 80px;
  height: 80px;
}
.googleplay-icon {
  width: 110px;
  height: 40px;
}
.download-appstore-icon {
  position: absolute;
  top: 2.4px;
  left: 2.4px;
  border-radius: var(--br-9xs);
  width: 105.2px;
  height: 35.2px;
  object-fit: cover;
}
.appstore {
  position: relative;
  background-color: var(--button);
  width: 110px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.googleplay-parent,
.save-3-with-app-new-user-only-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.save-3-with-app-new-user-only-parent {
  gap: var(--gap-5xs);
  font-size: var(--title-12px-medium-size);
}
.frame-parent2,
.icon-facebook-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent2 {
  position: absolute;
  top: 80px;
  left: 135px;
  justify-content: center;
  gap: var(--gap-68xl);
  font-size: var(--title-20px-medium-size);
  color: var(--text);
}
.footer {
  position: absolute;
  top: 1653px;
  left: 0;
  background-color: var(--button);
  width: 1440px;
  height: 440px;
  overflow: hidden;
  font-size: var(--title-16px-regular-size);
  color: var(--primary);
}
.product-details-page {
  position: relative;
  background-color: var(--primary);
  width: 100%;
  height: 2093px;
  overflow: hidden;
  text-align: left;
  font-size: var(--title-14px-semibold-size);
  color: var(--button);
  font-family: var(--title-12px-medium);
}
