.summer-sale-for7 {
  position: relative;
  line-height: 21px;
  display: inline-block;
  width: 474px;
  height: 18px;
  flex-shrink: 0;
}
.shopnow7 {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}
.summer-sale-for-all-swim-suits-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.english7 {
  position: relative;
  line-height: 21px;
}
.dropdown-icon7 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.english-parent5,
.frame-parent63 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.frame-parent63 {
  position: absolute;
  top: 12px;
  right: 136px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-212xl);
}
.exclusive14,
.top-header7 {
  position: absolute;
  top: 0;
  left: 0;
}
.top-header7 {
  background-color: var(--button);
  width: 1440px;
  height: 48px;
  overflow: hidden;
  color: var(--text);
}
.exclusive14 {
  letter-spacing: 0.03em;
  line-height: 24px;
}
.logo14 {
  position: relative;
  width: 118px;
  height: 24px;
}
.home7 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  cursor: pointer;
}
.header36 {
  position: relative;
  width: 48px;
  height: 24px;
}
.contact15 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header37,
.header39 {
  position: relative;
  width: 66px;
  height: 24px;
}
.header39 {
  width: 61px;
}
.header-parent5,
.logo-parent12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-parent5 {
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-12px-medium);
}
.logo-parent12 {
  gap: var(--gap-141xl);
}
.what-are-you7 {
  position: relative;
  line-height: 18px;
  opacity: 0.5;
}
.what-are-you-looking-for-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl);
}
.search-component-set7 {
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl);
}
.vector-icon26 {
  position: absolute;
  height: 60.94%;
  width: 67.19%;
  top: 19.53%;
  right: 16.41%;
  bottom: 19.53%;
  left: 16.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child2 {
  position: absolute;
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--secondary-2);
}
.div40 {
  position: absolute;
  height: 100%;
  width: 43.75%;
  top: 0;
  left: 25%;
  line-height: 18px;
  display: inline-block;
}
.ellipse-parent2 {
  position: absolute;
  height: 53.13%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 46.88%;
  left: 50%;
}
.wishlist10 {
  overflow: hidden;
  flex-shrink: 0;
}
.cart1-with-buy7,
.wishlist10 {
  position: relative;
  width: 32px;
  height: 32px;
}
.wishlist-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
  color: var(--text);
}
.header35,
.search-component-set-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--title-12px-medium-size);
  font-family: var(--title-12px-medium);
}
.header35 {
  position: absolute;
  top: 88px;
  left: 135px;
  gap: var(--gap-111xl);
  font-size: var(--heading-24px-bold-size);
  font-family: var(--heading-24px-bold);
}
.wishlist-child {
  position: absolute;
  top: 142px;
  left: 0;
  width: 1440px;
  height: 0.5px;
}
.underline-icon16 {
  position: relative;
  width: 1440px;
  height: 1px;
  opacity: 0.5;
}
.icon-copyright7 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.copyright-rimel-20227 {
  position: relative;
  line-height: 24px;
}
.frame-wrapper7,
.icon-copyright-parent5,
.underline-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-copyright-parent5 {
  gap: var(--gap-7xs);
}
.frame-wrapper7,
.underline-parent6 {
  opacity: 0.6;
}
.underline-parent6 {
  position: absolute;
  top: 376px;
  left: 0;
  flex-direction: column;
  gap: var(--gap-base);
  opacity: 0.4;
}
.get-10-off7,
.subscribe7 {
  position: relative;
  font-family: var(--title-12px-medium);
}
.subscribe7 {
  font-size: var(--title-20px-medium-size);
  line-height: 28px;
  font-weight: 500;
}
.get-10-off7 {
  font-size: var(--title-16px-regular-size);
  line-height: 24px;
}
.frame-parent66 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.enter-your-email7 {
  position: relative;
  line-height: 24px;
  opacity: 0.4;
}
.frame-parent65,
.send-mail7 {
  display: flex;
  justify-content: flex-start;
}
.send-mail7 {
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--text);
  box-sizing: border-box;
  width: 217px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
  gap: var(--gap-13xl);
  font-size: var(--title-16px-regular-size);
  font-family: var(--title-12px-medium);
}
.frame-parent65 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--heading-24px-bold-size);
  font-family: var(--heading-24px-bold);
}
.support7 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.bijoy-sarani-dhaka7 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 175px;
}
.bijoy-sarani-dhaka-dh-1515-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--title-16px-regular-size);
}
.save-3-with7 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  opacity: 0.7;
}
.qrcode-1-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.googleplay-icon7,
.qr-code7 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.qr-code7 {
  background-color: var(--button);
  width: 80px;
  height: 80px;
}
.googleplay-icon7 {
  width: 110px;
  height: 40px;
}
.download-appstore-icon7 {
  position: absolute;
  top: 2.4px;
  left: 2.4px;
  border-radius: var(--br-9xs);
  width: 105.2px;
  height: 35.2px;
  object-fit: cover;
}
.appstore7 {
  position: relative;
  background-color: var(--button);
  width: 110px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.googleplay-parent5,
.save-3-with-app-new-user-only-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.save-3-with-app-new-user-only-parent5 {
  gap: var(--gap-5xs);
  font-size: var(--title-12px-medium-size);
}
.frame-parent64,
.icon-facebook-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent64 {
  position: absolute;
  top: 80px;
  left: 135px;
  justify-content: center;
  gap: var(--gap-68xl);
  font-size: var(--title-20px-medium-size);
  color: var(--text);
}
.footer7 {
  position: absolute;
  top: 1346px;
  left: 0;
  background-color: var(--button);
  width: 1440px;
  height: 440px;
  overflow: hidden;
  font-size: var(--title-16px-regular-size);
  color: var(--primary);
}
.button10,
.wishlist-4-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button10 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gray-400);
  justify-content: center;
  padding: var(--padding-base) var(--padding-29xl);
  text-align: left;
  font-size: var(--title-16px-regular-size);
}
.wishlist-4-parent {
  justify-content: flex-start;
  gap: 835px;
}
.cart-item {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--button);
  height: 41px;
}
.fill-eye-icon4 {
  position: relative;
  width: 34px;
  height: 34px;
}
.discount-percent3,
.fill-eye-wrapper {
  position: absolute;
  top: 12px;
  display: flex;
}
.fill-eye-wrapper {
  right: 12px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.discount-percent3 {
  left: 12px;
  border-radius: var(--br-9xs);
  background-color: var(--secondary-2);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xs);
}
.c2st-8746-001-082-0000-light-g-icon {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 89px);
  width: 178px;
  height: 129px;
  object-fit: cover;
}
.c2st-8746-001-082-0000-light-g-wrapper {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.cart1-parent {
  position: absolute;
  top: calc(50% + 92px);
  left: calc(50% - 51.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--primary);
}
.cart12 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  width: 270px;
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.div44,
.gucci-duffle-bag {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.div44 {
  text-decoration: line-through;
  color: var(--button);
  opacity: 0.5;
}
.parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--secondary-2);
}
.gucci-duffle-bag-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--title-16px-regular-size);
  color: var(--button);
}
.cart1-group,
.cart11,
.gucci-duffle-bag-parent {
  display: flex;
  justify-content: flex-start;
}
.cart11 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  color: var(--text);
}
.cart1-group {
  position: absolute;
  top: calc(50% + 92px);
  left: calc(50% - 51.5px);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.gammaxx-l240-argb-1-500x500-1-icon1 {
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 95px);
  width: 191px;
  height: 95px;
  object-fit: cover;
}
.gammaxx-l240-argb-1-500x500-1-container {
  position: absolute;
  top: calc(50% - 107px);
  left: calc(50% - 95px);
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.cart13,
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: row;
  color: var(--secondary-2);
}
.cart13 {
  flex-direction: column;
  gap: var(--gap-base);
}
.gp11-prd3-1-icon {
  position: absolute;
  top: 15px;
  left: 6px;
  width: 178px;
  height: 150px;
  object-fit: cover;
}
.gp11-prd3-1-wrapper {
  position: absolute;
  top: calc(50% - 103px);
  left: calc(50% - 95px);
  width: 190px;
  height: 180px;
  overflow: hidden;
}
.z8a1x-3475-001-100-0000-light-icon {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 182px;
  height: 176px;
  object-fit: cover;
}
.cart-parent,
.frame-parent69 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-parent {
  flex-direction: row;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--title-12px-medium-size);
  color: var(--primary);
}
.frame-parent69 {
  flex-direction: column;
  gap: var(--gap-41xl);
}
.category-rectangle-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--secondary-2);
}
.category-rectangle1 {
  position: relative;
  width: 20px;
  height: 40px;
}
.just-for-you {
  position: relative;
  line-height: 26px;
}
.category-rectangle-group {
  gap: var(--gap-base);
}
.cart1-parent2,
.category-rectangle-group,
.frame-parent71 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent71 {
  gap: 864px;
}
.cart1-parent2 {
  position: absolute;
  top: 218px;
  left: 85px;
  gap: var(--gap-5xs);
  color: var(--primary);
}
.ideapad-gaming-3i-01-500x500-1-icon {
  position: absolute;
  top: 7px;
  left: 16px;
  width: 158px;
  height: 166px;
  object-fit: cover;
}
.vector-icon27 {
  position: relative;
  border-radius: var(--br-11xs-4);
  width: 20px;
  height: 20px;
}
.five-star2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div51 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  width: 32px;
  height: 20px;
  flex-shrink: 0;
  opacity: 0.5;
}
.cart1-parent3,
.five-star-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.five-star-container {
  align-items: flex-start;
  font-size: var(--title-14px-semibold-size);
}
.cart1-parent3 {
  position: absolute;
  top: 218px;
  left: 85px;
  align-items: center;
}
.g27cq4-500x500-1-icon3 {
  position: absolute;
  top: 26px;
  left: 10px;
  width: 170px;
  height: 129px;
  object-fit: cover;
}
.cart21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--primary);
}
.new {
  position: relative;
  line-height: 18px;
}
.new-button {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: var(--br-9xs);
  background-color: var(--button1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xs);
}
.ak-900-01-500x500-1-icon1,
.g92-2-500x500-1-icon3 {
  position: absolute;
  top: calc(50% - 76px);
  left: calc(50% - 86px);
  width: 172px;
  height: 152px;
  object-fit: cover;
}
.ak-900-01-500x500-1-icon1 {
  top: calc(50% - 50px);
  left: calc(50% - 95px);
  width: 191px;
  height: 101px;
}
.cart-group,
.frame-parent68 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-group {
  flex-direction: row;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--title-12px-medium-size);
  color: var(--text);
}
.frame-parent68 {
  position: absolute;
  top: 222px;
  left: 135px;
  flex-direction: column;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--title-20px-medium-size);
}
.wishlist9 {
  position: relative;
  background-color: var(--primary);
  width: 100%;
  height: 1786px;
  overflow: hidden;
  text-align: left;
  font-size: var(--title-14px-semibold-size);
  color: var(--button);
  font-family: var(--title-12px-medium);
}
